@tailwind base;
@tailwind components;
@tailwind utilities;
button {
    @apply block w-full text-gray-700 h-9 px-2;
    @apply hover:bg-orange-400 border-[2px] rounded-xl hover:shadow-2xl hover:scale-105 duration-300 transition-all;
}
h3 {
    font-size: 2.5rem;
    font-weight: medium;
}
h2 {
    font-size: 4rem;
    font-weight: medium;
}
