@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply w-fit text-white h-9 px-6;
    @apply hover:bg-orange-400 border-[2px] rounded-xl hover:shadow-2xl hover:scale-105 duration-300 transition-all;
}
div.tabs > * {
    @apply text-white rounded-full py-2 px-4 border border-[2px] rounded-full;
}
div.tabs > *.active {
    @apply bg-orange-400;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    @apply block w-[20rem] my-4 mx-auto rounded-xl;
    @apply border p-2 border-white;
}
::placeholder {
    @apply px-4;
}
p {
    @apply text-[16px] text-white;
}
h3 {
    @apply text-4xl text-white font-medium;
}
h1 {
    @apply text-6xl text-white font-medium;
}
h2 {
    @apply text-5xl text-white font-medium;
}
@keyframes animate-firework {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(5) rotate(360deg);
        opacity: 0;
    }
}
